h1 {
    color: aqua;
}
p {
    color: rgb(255, 0, 255);
    /* color: #ff00ff */
    /* color: blueviolet */
    /* color: rgba(255, 0, 255, 1); */
    font-size: 16px; /* 1/96 дюйма */
    text-align: left;
    text-transform: capitalize;
    text-indent: 1em;
    border: 5px solid red;
}
a { 
    text-decoration: overline dotted red 3px;
    /* -очередность важна-
    text-decoration-line: overline;
    text-decoration-style: dotted;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    */
}
button {
    text-transform: capitalize;
}